<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .red{
            color: red;
            font-size: small;
        }
    </style>
</head>

<body class="container my-3">
    <h1>Login and Registration</h1>
    <div class="left d-inline-block col-5 mr-5 p-0">
        <h2>Register here!</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="firstName">First name:</label>
                {% with messages = get_flashed_messages(category_filter=["firstName"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" class="form-control" id="firstName" name="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last name:</label>
                {% with messages = get_flashed_messages(category_filter=["lastName"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" class="form-control" id="lastName" name="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                {% with messages = get_flashed_messages(category_filter=["email"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {% with messages = get_flashed_messages(category_filter=["password"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              {% with messages = get_flashed_messages(category_filter=["confirmPW"]) %}     <!-- declare a variable called messages -->
                  {% if messages %}                            <!-- check if there are any messages -->
                      {% for message in messages %}            <!-- loop through the messages -->
                          <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                      {% endfor %}
                  {% endif %}
              {% endwith %}
              <input type="password" class="form-control" id="confirmPassword" name="passwordConfirm">
            </div>
            <input class="btn btn-success" type="submit" value="Register">
        </form>
    </div>

    <div class="right d-inline-block col-5 align-top mx-5">
        <h2>Login here!</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="">Email: </label>
                {% with messages = get_flashed_messages(category_filter=["loginemail"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input class="form-control" type="text" name="email" >
            </div>
            <div class="form-group">
                <label for="">Password:</label>
                {% with messages = get_flashed_messages(category_filter=["pw"]) %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p class="red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input class="form-control" type="password" name="password">
            </div>
            <input class="btn btn-success"type="submit" value="Submit">
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='wall.js') }}"></script> -->

</body>

</html>
